<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="de">Erweiteter Plugin Manager</label>
    <label lang="en">Extended Plugin Manager</label>

    <version>1.0.3</version>
    <copyright>Friends of Shopware</copyright>
    <license>MIT</license>
    <link>https://github.com/FriendsOfShopware/FroshExtendedPluginManager</link>
    <author>Friends of Shopware</author>
    <compatibility minVersion="5.2.0" />

    <description lang="en"><![CDATA[
        Displays buttons to visit plugin in shopware-store
        ]]>
    </description>
	<description lang="de"><![CDATA[
        Zeigt Buttons im Plugin-Manager an, um ein Plugin direkt im Shopware Community Store aufzurufen
        ]]>
    </description>


    <changelog version="1.0.3">
        <changes lang="de"><![CDATA[
        - Buttons nun auch übersetzt in sechs Sprachen
        - englischer Store wird nun bei nicht-deutschsprachlern aufgerufen
        ]]></changes>
        <changes lang="en"><![CDATA[
        - buttons are now translated into 6 languages
        - english store will be visited, if you aren't german
        ]]></changes>
    </changelog>
    <changelog version="1.0.2">
        <changes lang="de">Willkommen bei Frosh</changes>
        <changes lang="en">Welcome to Frosh</changes>
    </changelog>
    <changelog version="1.0.1">
        <changes lang="de">Removed stupid things</changes>
        <changes lang="en">Removed stupid things</changes>
    </changelog>
    <changelog version="1.0.0">
        <changes lang="de">Erstveröffentlichung</changes>
        <changes lang="en">First release</changes>
    </changelog>

</plugin>
